body {
    margin: 0;
    padding: 0;
}

input {
    width: 500px
}

button {
    margin: 10px 10px;
}

.main-content {
    margin: auto;
    width: 50%;
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    padding: 14px 16px;
}

li {
    float: left;
    padding: 14px 16px;
}

.move-right {
    float: right;
}

footer {
    bottom: 0;
    position: absolute;
}